#gang {
    .organizerList {
        span {
            display: block;
            margin: 0 auto;
        }
        img,
        span {
            border-radius: 50%;
            margin-bottom: 24px;
            @include size(174px);
        }
        @media only screen and (max-width:479px) {
            li {
                +li {
                    margin-top: 36px;
                }
            }
        }
        @media only screen and (min-width:480px) {
            @include display(flex);
            @include flex-wrap(wrap);
            @include push-auto;
            max-width: 920px;
            li {
                @include flex(1 0 auto);
                margin: 18px 18px 12px;
            }
            img,
            span {
                @include size(150px);
            }
        }
    }
}