#sponsors {
    // p {
    //     margin-top: 54px;
    // }
    .contentWrapper {
        ol,
        ul {
            list-style: none;
        }
        .sponsorList {
            .sponsors2,
            .sponsors3 {
                span {
                    margin-bottom: 24px;
                }
            }
            ul>li {
                padding: 24px;
                &:empty {
                    background-image: url(/img/available.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @include push-auto;
                    @include size(100px 90px);
                }
            }
            @media only screen and (min-width:920px) {
                .sponsors2,
                .sponsors3 {
                    &>ul {
                        @include display(flex);
                    }
                }
            }
            @media only screen and (min-width:920px) and (max-width:1259px) {
                .sponsors2,
                .sponsors3 {
                    &>ul {
                        @include flex-wrap(wrap);
                    }
                }
                .sponsors2 li {
                    width: 50%!important;
                }
                .sponosrs3 li {
                    width: 33%!important;
                }
            }
        }
    }
    .iframeWrapper {
        overflow-y: auto;
        max-height: 100vh;
        iframe {
            display: block!important;
            @include push-auto;
        }
    }
    footer {
        padding: 0 18px 18px;
        .btnCTA {
            width: 90%;
            max-width: 360px;
        }
        @media only screen and (max-width:629px) {
            margin: 0 -36px;
        }
        @media only screen and (min-width:800px) {
            @include display(flex);
            padding-top: 12px;
            padding-bottom: 12px;
            .heading,
            .btnCTA {
                display: inline-block;
            }
            .heading {
                line-height: 100px;
                margin-right: 18px;
            }
            .btnCTA {
                width: auto;
            }
        }
    }
    @media only screen and (min-width:630px) {
        .flexContainer {
            @include display(flex);
        }
        .contentWrapper,
        .twitterFeed {
            @include flex(1 0 auto);
            width: 50%;
        }
        .twitterFeed,
        .iframeWrapper {
            min-width: 300px;
            max-width: 360px;
        }
    }
    @media only screen and (min-width:640px) {
        aside {
            margin-top: 60px;
        }
    }
}