#sponsors {
    // p {
    //     margin-top: 54px;
    // }
    .contentWrapper {
        ol,
        ul {
            *,
            li {
                list-style: none;
            }
        }
        .sponsorList {
            img {
                opacity: 0.85;
                max-width: 100%;
                @include hover-bob;
                @include hover-state {
                    opacity: 1;
                }
            }
            .sponsors2,
            .sponsors3,
            .sponsors4 {
                margin-top: 18px;
                span {
                    margin-bottom: 24px;
                }
            }
            .sponsors2 {
                img {
                    max-height: 90px;
                }
            }
            .sponsors3 {
                img {
                    max-height: 50px;
                }
            }
            .sponsors4 {
                li {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: center;
                }
            }
            ul>li {
                padding: 24px;
                &:empty {
                    background-image: url(/img/available.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @include size(100px 90px);
                    @media only screen and (max-width: 919px) {
                        @include push-auto;
                    }
                }
            }
            @media only screen and (max-width:919px) {
                padding-bottom: 36px;
            }
            @media only screen and (min-width:920px) {
                .sponsors1 {
                    li {
                        @include push-auto;
                    }
                }
                .sponsors2,
                .sponsors3,
                .sponsors4 {
                    &>ul {
                        @include display(flex);
                    }
                }
                .sponsors2,
                .sponsors3 {
                    &>ul {
                        @include align-content(space-between);
                        @include justify-content(space-between);
                        li {
                            @include display(flex);
                            @include flex-direction(column);
                            @include justify-content(center);
                        }
                    }
                }
                .sponsors4 {
                    &>ul {
                        @include justify-content(space-around);
                        @include flex-wrap(wrap);
                    }
                }
            }
            @media only screen and (min-width:920px) and (max-width:1259px) {
                .sponsors2,
                .sponsors3 {
                    &>ul {
                        @include flex-wrap(wrap);
                    }
                }
                .sponsors2 li {
                    width: 50%!important;
                }
                .sponsors3 li {
                    width: 33%!important;
                }
                .sponsors4 li {
                    @include flex(1 0 50%);
                }
            }
            @media only screen and (min-width:1260px) {
                ul li {
                    padding-right: 12px;
                    padding-left: 12px;
                }
                .sponsors4 li {
                    min-width: 250px;
                }
                // .sponsors2 li {
                //     width: 25%!important;
                // }
                // .sponsors3 li {
                //     width: 16%!important;
                // }
            }
        }
    }
    .iframeWrapper {
        overflow-y: auto;
        max-height: 100vh;
        iframe {
            display: block!important;
            @include push-auto;
        }
    }
    footer {
        padding: 0 18px 18px;
        .btnCTA {
            width: 90%;
            max-width: 360px;
        }
        @media only screen and (max-width:629px) {
            margin: 0 -36px;
        }
        @media only screen and (min-width:800px) {
            @include display(flex);
            padding-top: 12px;
            padding-bottom: 12px;
            .heading,
            .btnCTA {
                display: inline-block;
            }
            .heading {
                line-height: 100px;
                margin-right: 18px;
            }
            .btnCTA {
                width: auto;
            }
        }
    }
    @media only screen and (min-width:630px) {
        .flexContainer {
            @include display(flex);
        }
        .contentWrapper,
        .twitterFeed {
            @include flex(1 0 auto);
            width: 50%;
        }
        .twitterFeed,
        .iframeWrapper {
            min-width: 300px;
            max-width: 360px;
        }
    }
    @media only screen and (min-width:640px) {
        aside {
            margin-top: 60px;
        }
    }
}