@import 'libs/refills/modal',
'libs/refills/nav', 'libs/side-lined';
%isLink,
.isLink {
    cursor: pointer;
}

.isHidden {
    display: none;
    visibility: hidden;
}

main {
    //    margin-top: 60px;
    position: relative;
}

section {
    position: relative;
    header {
        margin-bottom: 90px;
        position: relative;
        @media only screen and (min-width: 640px) {
            margin-bottom: 0;
            padding-right: 18px;
            padding-left: 18px;
        }
    }
}