body {
    background: black;
    color: $color-hunter;
}

.siteHeader,
.siteFooter {
    background: $color-hotpink url(/img/bk.texture.nav.png);
    background-size: contain;
}

.siteHeader {
    .accentCTA {
        color: $color-hotpink;
    }
}

.navigationWrapper {
    a {
        color: white;
        @include hover-state {
            background: rgba($color-raspberry, 0.6);
        }
    }
}

.navigationMenu {
    @media only screen and (max-width: 759px) {
        background: $color-hotpink url(/img/bk.texture.nav.png);
        .navLink {
            background: rgba($color-raspberry, 0.6);
        }
    }
}

.siteWrapper {
    background: $color-offwhite;
}

main {}

section {
    header {
        background: $color-aqua;
    }
}

.headingAccent {
    color: white;
}

.intro {}

.hero {
    background: url(/img/bk.hero.jpg) bottom center no-repeat;
    background-size: cover;
    .heading {
        color: $color-green;
    }
}

#about {
    background: url(/img/bk.about.jpg) bottom center no-repeat;
    background-size: cover;
    .heading {
        color: mix($color-green, white, 70%);
    }
    >p {
        color: $color-pink;
    }
}

.locationWrapper {
    background: $color-aqua;
    .heading {
        color: $color-hotpink;
    }
}

#gang {
    //    background: url(/img/bk.gang.jpg) no-repeat;
    background-image: url(/img/bk.gang.m.jpg);
    background-size: contain;
    .contentWrapper {
        .heading {
            color: $color-hotpink;
        }
        li {
            color: white;
        }
        img,
        span {
            border: 3px solid rgba(white, 0.25);
        }
        span {
            background: rgba(black, 0.5);
            color: $color-lav;
        }
    }
}

#groups {
    color: $color-offblack;
    .socialLinks {
        a {
            color: rgba($color-offblack, 0.6);
            @include hover-state {
                color: $color-hotpink;
            }
        }
    }
}

#sponsors {
    .contentWrapper {
        .heading {
            color: $color-purple;
        }
        p,
        a {
            color: $color-lav;
        }
    }
}

.siteFooter {
    color: $color-raspberry;
    a,
    .isLink {
        color: rgba(white, 0.6);
    }
}

.footerAccent {
    background: rgba($color-raspberry, 0.65);
}

.modalClose {
    color: white;
}

.modalContent {
    background: white;
    .copy {
        color: $color-offblack;
    }
    a {
        color: $color-purple;
        text-decoration: none;
        @include hover-state {
            text-decoration: underline;
        }
    }
}